form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.loginIcon {
    width: 100px;
}

.loginButton {
    border-radius: 10%;
    background-color: gold;
    width: 170px;
    border: none;
    padding: 10px;
    white-space: nowrap;
    font-size: 18px;
    margin: 10px;
}

.registerButton {
    border-radius: 10%;
    border: none;
    width: 150px;
    padding: 10px;
    white-space: nowrap;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    background-color:lightgray;
}

.loginButton:hover, .registerButton:hover {
    background-color: grey;
}

.loginText {
    font-weight: bold;
    font-size: 15px;
}

.usernameInput, .passwordInput, .nameInput {
    font-size: 20px;
}

.usernameInput input, .passwordInput input {
    height: 20px;
}

.dangerText {
    color: #d9534f
}

.dangerLogo {
    width: 10px;
    margin-right: 10px;
}

.errorMessage {
    display: flex;
}

.inputField {
    margin-left: 10px;
}

.treeImages {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.treeLogo {
    width: 200px;
}

.mainText {
    margin: 20px;
}

.treeText {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.contributors {
    font-weight: bold;
    font-size: 30px;
}