form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.loginIcon {
    width: 100px;
}

.loginButton {
    border-radius: 10%;
    background-color: gold;
    width: 170px;
    border: none;
    padding: 10px;
    white-space: nowrap;
    font-size: 18px;
    margin: 10px;
}

.registerButton {
    border-radius: 10%;
    border: none;
    width: 150px;
    padding: 10px;
    white-space: nowrap;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    background-color:lightgray;
}

.loginButton:hover, .registerButton:hover {
    background-color: grey;
}

.loginText {
    font-weight: bold;
    font-size: 15px;
}

.usernameInput, .passwordInput, .nameInput {
    font-size: 20px;
}

.usernameInput input, .passwordInput input {
    height: 20px;
}

.dangerText {
    color: #d9534f
}

.dangerLogo {
    width: 10px;
    margin-right: 10px;
}

.errorMessage {
    display: flex;
}

.inputField {
    margin-left: 10px;
}

.displayLvalue {
    grid-column: 2/4;
    grid-row: 1;
  }
  
  .displayValue span {
    font-family: "Josefin Sans", sans-serif;
    padding-left: 20px;
    font-size: 50px;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .displayLvalue2 {
    grid-column: 2/4;
    grid-row: 1;
  }
  
  .displayValue2 span {
    font-family: "Josefin Sans", sans-serif;
    padding-left: 20px;
    font-size: 50px;
    color: white;
    position: absolute;
    bottom: 80px;
    right: 20px;
  }